#  Web Scraping

In [1]:
# Dependencies
from splinter import Browser
from bs4 import BeautifulSoup as bs
import requests
import pandas as pd
from webdriver_manager.chrome import ChromeDriverManager

In [2]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] -

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 94.0.4606
[WDM] - Get LATEST driver version for 94.0.4606
[WDM] - Driver [/Users/samra/.wdm/drivers/chromedriver/mac64/94.0.4606.61/chromedriver] found in cache

# Part One - NASA Mars News

In [3]:
# URL of the page to be scraped
url = 'https://redplanetscience.com/'

# Retrieve the page
browser.visit(url)

# Create the BeautifulSoup object
html = browser.html
soup = bs(html, 'html.parser')

In [4]:
# Find the division part of latest news 
Dates = soup.find_all('div', class_='list_date')
titles = soup.find_all('div', class_='content_title')
paragraphs = soup.find_all('div', class_='article_teaser_body')

# Identify and return the latest date, title and paragraph
latest_date=Dates[0].text
latest_title = titles[1].text
latest_article = paragraphs[0].text

# Print title and paragraph
print(latest_date)
print(latest_title)
print(latest_article)

October 24, 2021
HiRISE Views NASA's InSight and Curiosity on Mars
An electronics issue is suspected to be preventing the sensors from sharing their data about Mars weather with the spacecraft.

# Part Two - JPL Mars Space Images

In [6]:
# URL of page to be scraped
url = 'https://spaceimages-mars.com/'

# Retrieve the page
browser.visit(url)

# Create the BeautifulSoup object
html = browser.html
soup = bs(html, 'html.parser')

In [7]:
#Find the Image url
featured_image = soup.find("img", class_ = "headerimage fade-in")

# Display the complete url string for the featured image
featured_image_url = url + featured_image["src"]
print(featured_image_url)

https://spaceimages-mars.com/image/featured/mars1.jpg

# Mars Facts

In [8]:
# URL of page to be scraped
url = 'https://galaxyfacts-mars.com/'

# Retrieve the page
browser.visit(url)

# Getting all tables from the page as a list
tables = pd.read_html(url)

# Store the table from website in pandas DataFrame
mars_facts_df = pd.DataFrame(tables[1])

mars_facts_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [9]:
mars_facts_df.columns = ['Description','Mars Values']
mars_facts_df.set_index('Description', inplace=True)
mars_facts_df

                                        Mars Values
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                        2 ( Phobos & Deimos )
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [10]:
# Convert DataFrame to HTML string
mars_facts = mars_facts_df.to_html(header = True, index = True)
print(mars_facts)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Mars Values</th>
    </tr>
    <tr>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Equatorial Diameter:</th>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>Polar Diameter:</th>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>Mass:</th>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <th>Moons:</th>
      <td>2 ( Phobos &amp; Deimos )</td>
    </tr>
    <tr>
      <th>Orbit Distance:</th>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <th>Orbit Period:</th>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>Surface Temperature:</th>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <th>First Record:</th>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>Recorded By:</th>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

# Mars Hemispheres

In [11]:
# URL of page to be scraped
url = 'https://marshemispheres.com/'

# Open the browser
browser.visit(url)

# Create BeautifulSoup object
html = browser.html
soup = bs(html, 'html.parser')

In [12]:
# Hemisphere in the HTML are saved in description class
Hms = soup.find_all("div", class_ = "description")

# Initialise the emplty lists
urls = []
titles = []

# Loop through hemispheres and save urls and titles in a list
for Hm in Hms:
    
    urls.append(url + Hm.find('a')['href'])
    
    titles.append(Hm.find('h3').text.strip())
    
print(titles)

['Cerberus Hemisphere Enhanced', 'Schiaparelli Hemisphere Enhanced', 'Syrtis Major Hemisphere Enhanced', 'Valles Marineris Hemisphere Enhanced']

In [16]:
# Initialise an emplty list for image urls
img_urls = []

for url in urls:
    
    browser.visit(url)
    
    html = browser.html
    soup = bs(html, 'html.parser')
    
    url = url+soup.find('img',class_='wide-image')['src']
    img_urls.append(url)
    
img_urls

['https://marshemispheres.com/cerberus.htmlimages/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg',
 'https://marshemispheres.com/schiaparelli.htmlimages/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg',
 'https://marshemispheres.com/syrtis.htmlimages/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg',
 'https://marshemispheres.com/valles.htmlimages/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg']

In [17]:
hemisphere_image_urls = []

for i in range(len(titles)):
    hemisphere_image_urls.append({'title':titles[i],'img_url':img_urls[i]})

hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/cerberus.htmlimages/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/schiaparelli.htmlimages/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/syrtis.htmlimages/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/valles.htmlimages/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]

In [18]:
# Quit browser
browser.quit()